.block{padding: 30px;}
.block img{height: 150px;}
.block:nth-child(1){border-right: 1px solid black;}
.block:nth-child(3){border-left: 1px solid black;}


#softwares{
    display: flex;
    text-align: center;
    align-items: center;
}
