#softwares{
    display: flex;
    text-align: center;
    align-items: center;
}

.terminal{
    color: white;
    border-radius: 10px;
    background-color: #272b33;
    font-family: SpaceMono;
}

span.terminal{
    padding: 5px 10px;
}

div.terminal{
    padding: 15px;
}

.comment{
    color: #bdc4cc;
}

.comment::before{
    content: "#";
}

li{
    line-height: 40px;
}