.card{
  padding: 10px;
  background-color: var(--secon);
  color: white;
  height: 350px;
  width: 450px;
  position: fixed;
  border-radius: 15px 15px 0 0;
  transition: .5s all ease-in-out;
}

.card h2{
  margin: 0;
  text-align: center;
}

.card:nth-child(1){
  bottom: -320px;
  right:30px;
}

.card:nth-child(1):hover, .card:nth-child(2):hover{bottom: 0px;}
.card:nth-child(2){
  bottom: -320px;
  right: 530px;
}